.navBar {
    background: black;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    margin: 30px;
    color: white;
    font-size: 25px;
}

i {
    color: white;
    font-size: 35px;
    margin-left: 400px;
}